{% extends 'wfrs/dashboard/application_base.html' %}

{% block main_personal_fields %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_ssn %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_home_phone %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_cell_phone %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_photo_id_type %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_photo_id_number %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_photo_id_expiration %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_drivers_license_province %}
{% endblock %}

{% block main_addr_fields %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_address_state %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_address_postcode %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_time_at_address %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_housing_status %}
{% endblock %}

{% block main_employment_fields %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_occupation %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_employer_name %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_employer_phone %}
    {% include 'dashboard/partials/form_field.html' with field=form.main_time_at_employer %}
{% endblock %}
