{% extends 'wfrs/dashboard/form_base.html' %}
{% load currency_filters %}
{% load i18n %}

{% block form_fields %}
    <div class="row">
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Region information" %}</h3>
            </div>
            <div class="well">
                {% include 'dashboard/partials/form_field.html' with field=form.region %}
                {% include 'dashboard/partials/form_field.html' with field=form.language %}
                {% include 'dashboard/partials/form_field.html' with field=form.app_type %}

                <div class="form-group">
                    <a class="btn btn-default" href="{% url 'wfrs-apply-step1' %}">{% trans "Back" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Applicant #1" %}</h3>
            </div>
            <div class="well">
                {% include 'dashboard/partials/form_field.html' with field=form.user %}
                {% include 'dashboard/partials/form_field.html' with field=form.main_first_name %}
                {% include 'dashboard/partials/form_field.html' with field=form.main_last_name %}
                {% include 'dashboard/partials/form_field.html' with field=form.main_middle_initial %}
                {% include 'dashboard/partials/form_field.html' with field=form.main_date_of_birth %}
                {% block main_personal_fields %}{% endblock %}
            </div>

            <div class="table-header">
                <h3>{% trans "Applicant #1: Address" %}</h3>
            </div>
            <div class="well">
                {% include 'dashboard/partials/form_field.html' with field=form.main_address_line1 %}
                {% include 'dashboard/partials/form_field.html' with field=form.main_address_line2 %}
                {% include 'dashboard/partials/form_field.html' with field=form.main_address_city %}
                {% block main_addr_fields %}{% endblock %}
            </div>

            <div class="table-header">
                <h3>{% trans "Applicant #1: Assets" %}</h3>
            </div>
            <div class="well">
                {% include 'dashboard/partials/form_field.html' with field=form.main_home_value %}
                {% include 'dashboard/partials/form_field.html' with field=form.main_mortgage_balance %}
                {% block main_asset_fields %}{% endblock %}
            </div>

            <div class="table-header">
                <h3>{% trans "Applicant #1: Employment" %}</h3>
            </div>
            <div class="well">
                {% include 'dashboard/partials/form_field.html' with field=form.main_annual_income %}
                {% block main_employment_fields %}{% endblock %}
            </div>
        </div>


        {% if form.joint_first_name %}
            <div class="col-md-4">
                <div class="table-header">
                    <h3>{% trans "Applicant #2" %}</h3>
                </div>
                <div class="well">
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_first_name %}
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_last_name %}
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_middle_initial %}
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_date_of_birth %}
                    {% block joint_personal_fields %}{% endblock %}
                </div>

                <div class="table-header">
                    <h3>{% trans "Applicant #2: Address" %}</h3>
                </div>
                <div class="well">
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_address_line1 %}
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_address_line2 %}
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_address_city %}
                    {% block joint_addr_fields %}{% endblock %}
                </div>

                <div class="table-header">
                    <h3>{% trans "Applicant #2: Employment" %}</h3>
                </div>
                <div class="well">
                    {% include 'dashboard/partials/form_field.html' with field=form.joint_annual_income %}
                    {% block joint_employment_fields %}{% endblock %}
                </div>
            </div>
        {% endif %}

        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Other Information" %}</h3>
            </div>
            <div class="well">
                {% include 'dashboard/partials/form_field.html' with field=form.purchase_price %}
                {% include 'dashboard/partials/form_field.html' with field=form.insurance %}
                {% include 'dashboard/partials/form_field.html' with field=form.sales_person_id %}
                {% include 'dashboard/partials/form_field.html' with field=form.new_sales_person %}
                {% include 'dashboard/partials/form_field.html' with field=form.email %}
            </div>

            <div class="table-header">
                <h3>{% trans "Review & Submit" %}</h3>
            </div>
            <div class="well">
                <p>{% trans "Please verify all of the above information is accurate before submitting." %}</p>
                <div class="form-group">
                    <a class="btn btn-default" href="{% url 'wfrs-apply-step1' %}">{% trans "Back" %}</a>
                    <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
