{% extends 'oscar/dashboard/users/detail.html' %}
{% load i18n %}
{% load wfrs_credit_apps %}
{% load render_table from django_tables2 %}


{% block tab_nav %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#user_orders" data-toggle="tab">{% trans "Orders" %}</a></li>
        <li><a href="#user_addresses" data-toggle="tab">{% trans "Addresses" %}</a></li>
        <li><a href="#user_reviews" data-toggle="tab">{% trans "Reviews" %}</a></li>
        <li><a href="#user_credit_applications" data-toggle="tab">{% trans "Credit Applications" %}</a></li>
    </ul>
{% endblock %}


{% block user_reviews %}
    {{ block.super }}

    <div id="user_credit_applications" class="tab-pane">
        <h2>{% trans "Credit Applications" %}</h2>
        <p>
            <a href="{% url 'wfrs-application-list' %}?user_id={{ customer.pk }}" class="btn btn-primary">{% trans 'View All Owned Applications' %}</a>
            <a href="{% url 'wfrs-application-list' %}?submitting_user_id={{ customer.pk }}" class="btn btn-primary">{% trans 'View All Submitted Applications' %}</a>
        </p>
        {% get_credit_apps_owned_by_user customer as applications %}
        {% get_table_for_applications 'owned_apps' applications as apps_table %}
        {% render_table apps_table %}
    </div>
{% endblock %}
