{% load i18n %}
{% spaceless %}
    {% load wfrs_filters %}
    {% with record.get_first_order as order %}
        {% if order %}
            <span title="{% blocktrans trimmed with placed_on=order.date_placed time_diff=record.created_datetime|timesince:order.date_placed %}
                Order placed on {{ placed_on }}, {{ time_diff }} after initial credit application.
            {% endblocktrans %}">
                {{ order.date_placed | timesinceminutes:record.created_datetime }}
            </span>
        {% else %}
            —
        {% endif %}
    {% endwith %}
{% endspaceless %}
