{% load i18n %}
{% spaceless %}
    {% load wfrs_filters %}
    {% if record.order_date_placed %}
        <span title="{% blocktrans trimmed with placed_on=record.order_date_placed time_diff=record.created_datetime|timesince:record.order_date_placed %}
            Order placed on {{ placed_on }}, {{ time_diff }} after initial credit application.
        {% endblocktrans %}">
            {{ record.order_date_placed | timesinceminutes:record.created_datetime }}
        </span>
    {% else %}
        —
    {% endif %}
{% endspaceless %}
