{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }} | {% trans "Wells Fargo" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'wfrs-application-list' %}">{% trans "Wells Fargo" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ title }}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
<div class="row">
    <div class="col-md-12">
        {% if form.is_bound and not form.is_valid %}
            <div class="alert alert-danger">
                <strong>{% trans "Please correct the errors below." %}</strong>
            </div>
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation"></i> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<form action="." method="post" class="form-stacked">
    {% csrf_token %}
    {% block form_fields %}
        <div class="row">
            <div class="col-md-4">
                <div class="table-header">
                    <h3>{% trans "Form" %}</h3>
                </div>
                <div class="card card-body">
                    {% include 'dashboard/partials/form_fields.html' with form=form %}

                    <div class="form-group">
                        <a class="btn btn-secondary" href="{% url 'accounts-list' %}">{% trans "Cancel" %}</a>
                        <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</form>
{% endblock dashboard_content %}
